
a:link {
  color:black;
}
a:visited {
  color:black;
}
a:hover {
  color:blue;
}
#boxmodellink {
  padding: 10px;
}
#headerlinks {
  padding-left: 40px;
  padding-top: 20px;
}
#header {
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
#flexboxheader {
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
#firstbox:hover {
    background-color: lightgrey;
    padding: 20px;
    margin: 5px;
    align-items: top;
    justify-content: top;
    display: flex;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#secondbox:hover {
  background-color: green;
    padding: 20px;
    margin: 5px;
    align-items: top;
    justify-content: top;
    display: flex;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#thirdbox:hover {
  background-color: rgb(146, 151, 157);
    padding: 20px;
    margin: 5px;
    align-items: top;
    justify-content: top;
    display: flex;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#fourthbox:hover {
  background-color: rgb(200, 200, 201);
    padding: 20px;
    margin: 5px;
    align-items: top;
    justify-content: top;
    display: flex;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media only screen and (min-width: 601px) and (max-width: 850px)
{
#box {
  height: auto;
  width: auto;
}
#header {
  height: auto;
}
#firstbox {
  height: auto;
  width: auto;
}
#secondbox {
  height: auto;
  width: auto;
}
#thirdbox {
  height: auto;
  width: auto;
}
#fourthbox {
  height: auto;
  width: auto;
}
}