.parallax {
    /* The image used */
    background-image: url("https://media.istockphoto.com/id/516413199/vector/ancient-greeks-observing-the-stars.jpg?s=612x612&w=0&k=20&c=Uk4ZRFxKc-p4nTD4tJWIBy7WzmG5F7Q9_0RHI-S6nOM=");
  
    /* Set a specific height */
    min-height: 350px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    background-color:rgb(36,30, 78);
    background-size: auto;
    box-shadow:0px 20px 40px 5px black;

}

.flex-container {
    padding: 1em;
}
#input {
    padding:10px;
}
#myTextnotes {
    padding: 2em;
}
nav {
    width: 960px;
    height: 200px;
    position: center;
}
/*made nav area larger*/

#nav-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 70px 100px;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
a:link{
    color:black;

}
a:visited {
    color:black;
    ;
}
a:hover {
    color: #c5c5c5;
}
#home {
    flex: auto;
    padding: 20px;
 }

#page_title{
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}
#header3 {
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 120px;
    align-items: center;
    color:black;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(225, 172, 0);
    background-size: auto;
    font-size: 20px;
    border-top: 0em;
}
#sidebar {
    font-size: 20px;
}
#information {
    text-align: left;
}
#nav {
    padding: 1em;
}

#header2 {
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color:rgb(79, 0, 139);
    font-family: 'Roboto', sans-serif;
    background-color:white;
    background-size: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(224, 224, 224);
  }
  .grid-item {
    padding: 40px;
    font-size: 30px;
    text-align: center;
  }
#paragraph {
    font-size: 20px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item2 {
    border: 4px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .grid-biography {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(224, 224, 224);
  }
  .grid-item4 {
    padding: 40px;
    font-size: 30px;
    text-align: center;
    border-right: 10px solid white;
  }

  body {
    font-family: Arial;
  }
  #sourcelist {
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  
#footer-items{
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 100px;
    margin-top: 2rem;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    background-color:rgb(36,30, 78);
    background-size: auto;    
}

@media only screen and (min-width: 601px) and (max-width: 850px){ 
    #page_title{
        text-align: center;
        max-width: 100%;
        font-size: 30px;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 100%;
      }
      .grid-item2 {
        padding: 40px;
        font-size: 30px;
        text-align: center;
      }
      
    #footer-items {
        font-size: 15px;
        height: auto;
        width: auto;
    }
    
    
}

@media only screen and (max-width: 600px){

    #page_title{
        text-align: center;
        max-width: 100%;
        font-size: 20px;
    }
    #footer-items {
        font-size: 15px;
        height: auto;
        width: auto;
        background-size: auto;
    }
}